@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'normal-font' !important;
}


@font-face {
  font-family: 'normal-font';
  src: url('../assets/fonts/Poppins-Regular.ttf');
}